canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: crosshair;
}

.info {
    font-family: Futura;
    font-size: 16px;
    text-align: left;
    position: absolute;
    color: white;
    display: inline;
}

#myCanvas {
	background-color: black;
}

#rules {
    z-index: 10;
    position: fixed;
    top: 450px;
    left: 300px;
    display: inline;
}

#timer {
    color: blue;
}

#startButton {
    font-size: 46px;
    color: white;
}

